{% extends 'administracion/administracion.html' %}

{% block main_content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirmar Eliminar Producto</title>
</head>
<body>
    <h1>Confirmar Eliminar Producto</h1>
    <p>¿Estás seguro que deseas eliminar el producto "{{ producto.nombre_producto }}"?</p>
    <form method="post">
        {% csrf_token %}
        <button type="submit">Confirmar</button>
    </form>
    <a href="{% url 'lista_productos' %}"><button>Volver a la Lista de Productos</button></a>
</body>
</html>
{% endblock %}