{% extends 'administracion/administracion.html' %}

{% block main_content %}
<section class="section-content padding-x">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Eliminar Categoría</h2>
                <p>¿Estás seguro que deseas eliminar la categoría <strong>{{ categoria.nombre_categoria }}</strong>?</p>
                
                <p>Al eliminar esta categoría, se eliminarán todos los productos asociados a ella.</p>
                
                <form method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">Eliminar</button>
                    <a href="{% url 'lista_categorias' %}" class="btn btn-secondary">Cancelar</a>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}